:root {
  --main-background-color: #ffffff;
  --second-background-color: #f5f5f5;
  --button-background-color: #263238;
  --price-background-color: #eeeeee;
  --main-text-color: #8f95a5;
  --title-color: #000000;
  --title-text-color: #263238;
  --text-logo-color: #939393;
  --price-color: #546269;
  --main-font: "Poppins", sans-serif;
  --number-color: #2a3246;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
/* header */
.link {
  list-style: none;
}
.link-nav,
.logo {
  text-decoration: none;
}

.link-nav {
  font-weight: 500;
  font-size: 20px;
  color: var(--title-text-color);
}
.logo {
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--text-logo-color);
}
.logo > span {
  color: var(--title-color);
}
.btn {
  font-family: var(--main-font);
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--main-background-color);
  border-radius: 10px;
}
/* section hero */
.title {
  font-size: 64px;
  line-height: 1.25;
  color: var(--title-color);
}
.title-text {
  font-size: 24px;
}
.btn-hero {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--button-background-color);
  color: var(--main-background-color);
  border-radius: 10px;
}
/* section Skills */
.subtitle {
  font-size: 48px;
  color: var(--title-color);
}
.title-subtitle {
  font-size: 30px;
  color: var(--title-text-color);
}
.button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  color: var(--main-background-color);
  background-color: var(--button-background-color);
  border-radius: 10px;
}
/* Section About Us */
.desc {
  font-size: 20px;
  line-height: 1.8;
}
.number {
  font-weight: 600;
  font-size: 48px;
  color: var(--number-color);
}
.title-pricing {
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.price {
  font-size: 24px;
  color: var(--title-text-color);
  background-color: var(--price-background-color);
  border-radius: 5px;
}
.span-price {
  font-size: 18px;
  color: var(--price-color);
}
/* section Contact Us */
.input {
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
}
/* footer */
.link-footer {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}
