.container {
  max-width: 1378px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  
   &__contact-us {
  display: flex;
}

&__header {
  padding-top: 180px;
  display: flex;
    align-items: center;
    padding-bottom: 55px;
    padding-top: 55px;
}
&__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

}

