:root {
    --main-background-color: #ffffff;
    --second-background-color: #f5f5f5;
    --button-background-color: #263238;
    --price-background-color: #eeeeee;
    --main-text-color: #8f95a5;
    --title-color: #000000;
    --title-text-color: #263238;
    --text-logo-color: #939393;
    --price-color: #546269;
    --main-font: "Poppins", sans-serif;
    --number-color: #2a3246;
  }