.about {

  &__text {
      display: flex;
      flex-wrap: wrap;
      line-height: 1.8;
      margin-right: 146px;
      margin-bottom: 30px;
    }
  
    &__list {
      display: flex;
      text-align: center;
      width: 555px;
      height: 138px;
      margin-left: 50px;
      gap: 131px;
    }
  
    &__number {
      font-weight: 600;
      font-size: 48px;
      color: var(--number-color);
    }

}
